<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create/Update Event</title>
</head>
<body>
    <h1>{{ 'Create' if not event else 'Update' }} Event</h1>
    <form action="{{ url_for('events.edit_event', event_id=event.id) if event else url_for('events.create_event') }}" method="post">
        <input type="text" name="title" value="{{ event.title if event else '' }}" placeholder="Event Title" required>
        <input type="date" name="date" value="{{ event.date.strftime('%Y-%m-%d') if event else '' }}" required>
        <input type="text" name="location" value="{{ event.location if event else '' }}" placeholder="Location" required>
        <input type="text" name="category" value="{{ event.category.name if event else '' }}" placeholder="Category" required>
        <button type="submit">{{ 'Create' if not event else 'Update' }}</button>
    </form>
</body>
</html>
