<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'Create' if not event else 'Update' }} Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
</head>
<body>
    <header>
        <h1>{{ 'Create' if not event else 'Update' }} Event</h1>
    </header>

    <section class="event-form">
        <form action="{{ url_for('events.edit_event_form', event_id=event.id) if event else url_for('events.create_event_form') }}" method="post">
            {{ form.hidden_tag() }}
            
            <label for="title">Event Title:</label>
            <input type="text" id="title" name="title" value="{{ form.title.data if event else '' }}" required>

            <label for="date">Event Date:</label>
            <input type="date" id="date" name="date" value="{{ form.date.data.strftime('%Y-%m-%d') if event else '' }}" required>

            <label for="location">Event Location:</label>
            <input type="text" id="location" name="location" value="{{ form.location.data if event else '' }}" required>

            <label for="description">Event Description:</label>
            <textarea id="description" name="description" required>{{ form.description.data if event else '' }}</textarea>

            <button type="submit">{{ 'Create Event' if not event else 'Update Event' }}</button>
        </form>
    </section>

    <footer>
        <a href="{{ url_for('events.list_events_form') }}">Back to Event List</a>
    </footer>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>