<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Bright Events</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('events.list_events_form') }}">Events</a></li>
                <li><a href="{{ url_for('events.create_event_form') }}">Create Event</a></li>
            </ul>
        </nav>
    </header>

    <footer>
        <a href="{{ url_for('events.list_events_form') }}">View Events</a>
    </footer>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
